.flexboxcontainer{
    width: 100%;
    display: flex;
    padding-top: 2rem;
}
.cardouter{
    background: #f2f7f8;
    border-radius: 15px;
    height: auto;
    margin: 1rem;
    padding: 0.05rem 0;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem;
    height:  44vh !important;
}
.modal{
    padding: 0rem !important;
}

.logo{
    display: flex;
    max-width: 30%;
    margin-left: auto;
}

.logo:hover{
    cursor: pointer;
}
